
body{
    background-color: rgba(37, 54, 235, 0.74);
    background: url(https://p4.wallpaperbetter.com/wallpaper/700/303/665/soccer-real-madrid-c-f-emblem-logo-hd-wallpaper-preview.jpg);
    background-size: cover;
    background-attachment: fixed;

}
